
body {
  background-color: #101025;
  color: white;
}

.member-infos{
  display: flex;
  gap: 20px;
  margin: 20px;
}

.card-infos{
  text-align: center;
  border: solid 1px #303050;
  background-color: #151530 ;
  width: 400px; 
  height: 400px;
}

.chart-grid{
  display: flex;
  gap: 20px;
  height: 300px;
}

.chart-scen{
  text-align: center;
  background-color: #151530 ;
  width: 300px;
  
}
.chart {
  border: solid 1px #505070;
  width: 600px;
}


